<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:form id="form">
    <h:outputText value="email"/>
    <h:inputText value="#{loginBean.email}"/>
    <h:outputText value="nom"/>
    <h:inputText value="#{loginBean.nom}"/>

    <p align="center">

        <h1>TOP ENTREPRISE WITH MOST JOB OFFER POSTS</h1>
        <p align="Center">
            <h:link  style="font-weight:bold"  outcome="OfferByEntreprise">
                <h2>#{jobofferBean.ENTREPRISEWithMoreJobOffer}</h2>
            </h:link>
        </p>
    </p>
    <p align="center">

        <h1>TOP MOST SEARCHED CATEGORIES</h1>
        <p align="center">

            <ui:repeat value="#{jobofferBean.categories}" var="value">
                <h:link  >
                    <h4>#{value}</h4>

                    <br />
                </h:link>
            </ui:repeat>

        </p>
    </p>


    <h1>All Job Offers</h1>
    <h:panelGrid columns="2"   style="margin: 0 auto;">

        <ui:repeat var="JobOffer" value="#{jobofferBean.joboffers}">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">

                    <h:graphicImage url="http://localhost:9080/PIDEV-web#{JobOffer.entrepris.image}" width="60%"  />
                    <div class="w3-container">
                        <h3 style="color:#4CAF50;text-transform: uppercase">Job Offer Title</h3>
                        <h4>#{JobOffer.job_title}</h4>
                        <h3 style="color:#4CAF50;text-transform: uppercase">Entreprise</h3>
                        <h4>#{JobOffer.entrepris.name}</h4>
                        <h3 style="color:#4CAF50;text-transform: uppercase">Location</h3>
                        <h4>#{JobOffer.location}</h4>
                        <h3 style="color:#4CAF50;text-transform: uppercase">Category</h3>
                        <h4>#{JobOffer.category}</h4>

                        <p>
                            <h:commandButton id="btn2" value="View Offer" action="OfferDetails"  styleClass="w3-button w3-light-grey w3-block">
                                <f:actionListener binding="#{jobofferBean.Details(JobOffer)}" />
                            </h:commandButton>
                        </p>
                        <p>
                            <h:commandButton id="btn1" value="Update" action="UpdateJoboffer" styleClass="w3-button w3-black w3-block" >
                                <f:actionListener binding="#{jobofferBean.displayJoboffer(JobOffer)}" />
                            </h:commandButton>
                        </p>
                        <p>

                            <h:commandButton id="btn" value="Delete" action="#{jobofferBean.DeleteJoboffer(JobOffer.id_JobOffer)}" styleClass="w3-button w3-black w3-block"/>

                        </p>
                    </div>
                </div>
            </div>
        </ui:repeat>
        <p align="center">
            <h:commandButton id="btn" value="ADD A JOB OFFER" action="Add" styleClass="w3-button w3-black w3-block"/>

        </p>


    </h:panelGrid>
</h:form>


</html>

