<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				template="/template/template.xhtml">

	<style type="text/css">
		.h3 {
			text-align: center;
			text-transform: uppercase;
			color: #4CAF50;
		}
	</style>

	<ui:define name="menu">
		<h:form id="form">


			<p align="center">

				<h1>TOP EVENTS</h1>
				<p align="Center">
					<h:link  style="font-weight:bold"  outcome="OfferByEntreprise">
					</h:link>
				</p>
			</p>
			<p align="center">

				<h1>TOP MOST RATED EVENTS</h1>
				<p align="center">



              </p>
          </p>


          <h1>All OUR EVENTS</h1>
          <h:panelGrid columns="2"   style="margin: 0 auto;">

              <ui:repeat var="Event" value="#{EventBean.events}">
                  <div class="w3-col l3 m6 w3-margin-bottom">
                      <div class="w3-card">

                          <h:graphicImage url="http://localhost:8080/MicroInes-web#{Event.imageE}" width="60%"  />
                          <div class="w3-container">
                              <h3 style="color:#4CAF50;text-transform: uppercase">Event name</h3>
                              <h4>#{Event.name}</h4>
                              <h3 style="color:#4CAF50;text-transform: uppercase">Description</h3>
                              <h4>#{Event.description}</h4>
                              <h3 style="color:#4CAF50;text-transform: uppercase">Product</h3>
                              <h4>#{Event.produit.nom}</h4>
                              <h3 style="color:#4CAF50;text-transform: uppercase">date</h3>
                              <h4>#{Event.date_publication}</h4>
                              <p>
                                  <h:commandButton id="btn2" value="View Offer" action="OfferDetails"  styleClass="w3-button w3-light-grey w3-block">
                                      <f:actionListener binding="#{EventBean.Details(Event)}" />
                                  </h:commandButton>
                              </p>
                              <p>
                                  <h:commandButton id="btn1" value="Update" action="UpdateEvent" styleClass="w3-button w3-black w3-block" >
                                      <f:actionListener binding="#{EventBean.displayEvent(Event)}" />
                                  </h:commandButton>
                              </p>
                              <p>

                                  <h:commandButton id="btn" value="Delete" action="#{EventBean.DeleteEvent(Event.idEvent)}" styleClass="w3-button w3-black w3-block"/>

                              </p>
                          </div>
                      </div>
                  </div>
              </ui:repeat>
              <p align="center">
                  <h:commandButton id="btn" value="ADD AN EVENT" action="AddEvent" styleClass="w3-button w3-black w3-block"/>

              </p>


          </h:panelGrid>
      </h:form>
  </ui:define>
</ui:composition>