<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
xmlns:f="http://java.sun.com/jsf/core"
 xmlns:h="http://java.sun.com/jsf/html"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:pf="http://jsf.playerfinder.net/components"
     template="/template/template.xhtml"> 


     <ui:define name="menu">
     
  
      <h:form id="form">
      <h1>Event Details</h1>
      
      <style type="text/css">
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}
</style>
   
         <script type="text/javascript">
//<![CDATA[
    
var countDownDate = #{EventBean.deadline};

var x = setInterval(function() {

  var now = new Date().getTime();
    

  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + " d :" + hours + " h :"
  + minutes + " min :" + seconds + " s " + " LEFT ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
//]]>
</script>




	    
     <p align="center">
     <h1 style="color:Red"> COUNTDOWN TILL THE END OF THE EVENT </h1>

     <p id="demo" align="center" style="border: 5px solid #999;  padding: 8px;   margin: 80px 600px;font-size: xx-large;"> </p>
     
     </p>
 
      	       <p align="center">
      	       <h2>Rate :  #{EventBean.moyenne_rate} / 5.0 </h2>
      	       	
			   <h3>Rated by :  #{EventBean.number_rate} #619 </h3>
		 
      	       </p>
     <h:panelGrid columns="2" frame="hsides"  style="margin: 0 auto;"  width="40%">
		       
			<h:outputText value="Event Name" />
		       <h:outputText value="#{EventBean.name}" />
		       
			<h:outputText value="Product" />
		       <h:outputText value="#{EventBean.produitName}" />
		       
		    <h:outputText value="description" /> 
		       <h:outputText value="#{EventBean.description}" />
		       
		    <h:outputText value="hours" /> 
		       <h:outputText value="#{EventBean.hours}" />
		       
	       	<h:outputText value="Deadline" /> 
			    <h:outputText value="#{EventBean.date}" >
			       <f:convertDateTime pattern="yyyy-MM-dd"/>
				</h:outputText>
				
			<h:outputText value="Publication Date" /> 
			     <h:outputText value="#{EventBean.date1}" >
			       <f:convertDateTime pattern="yyyy-MM-dd"/>
				</h:outputText>
	      
	      
 
      
      
      
      	       </h:panelGrid> 
      	       
      	   
      	       
      	       <p align="center">
      	       	
      	       		<h2>VIEWS :   #{EventBean.nbVue} </h2>
			
		  
      	       </p>
      	          	       
	       </h:form> 
	       
   <h:form id="myForm">
	       <fieldset class="rating">
    <legend>If You were in this event evaluate it by rating now !</legend>
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
     

</fieldset>

   <h:commandButton value="Rate" action="#{EventBean.execute(EventBean.idEvent)}" styleClass="button" />
	   <h:commandButton value="Apply" action="#{EventBean.executeApply(EventBean.idEvent)}" styleClass="button" />

   </h:form>


	       </ui:define>
       
       </ui:composition>