<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
xmlns:f="http://java.sun.com/jsf/core"
 xmlns:h="http://java.sun.com/jsf/html"
  xmlns:ui="http://java.sun.com/jsf/facelets"
     template="/template/template.xhtml"> 


     <ui:define name="menu"> <h:form id="form">
      <h1>Update Job Offer</h1> 
      <h:panelGrid columns="2" style="margin: 0 auto;">
       <h:outputText value="Job Title" /> 
       <h:inputText value="#{jobofferBean.job_title}" styleClass="w3-input w3-border"/> 
       <h:outputText value="location" /> 
       <h:inputText value="#{jobofferBean.location}" styleClass="w3-input w3-border" /> 
       <h:outputText value="Category" /> 
   
        <h:selectOneMenu value = "#{jobofferBean.category}" styleClass="w3-input w3-border"> 
  <f:selectItem itemValue = "Finance" itemLabel = "Finance" /> 
            <f:selectItem itemValue = "Science, Technology, Engineering and Mathematics" itemLabel = "Science, Technology, Engineering and Mathematics" /> 
            <f:selectItem itemValue = "Business Management and Administration" itemLabel = "Business Management and Administration" /> 
            <f:selectItem itemValue = "Marketing, Sales and Service" itemLabel = "Marketing, Sales and Service" /> 
            <f:selectItem itemValue = "Information Technology" itemLabel = "Information Technology" />     
            <f:selectItem itemValue = "Education and Training" itemLabel = "Education and Training" />    
            <f:selectItem itemValue = "Law, Public Safety, Corrections and Security" itemLabel = "Law, Public Safety, Corrections and Security" />     
         </h:selectOneMenu>  
       <h:outputText value="Description" /> 
       <h:inputText value="#{jobofferBean.description}" styleClass="w3-input w3-border" /> 
       <h:outputText value="hours" /> 
       <h:inputText value="#{jobofferBean.hours}" styleClass="w3-input w3-border" /> 
       <h:outputText value="Entreprise" /> 
       <h:selectOneMenu value="#{jobofferBean.idEntreprise}" styleClass="w3-input w3-border">
    <f:selectItems value="#{jobofferBean.entreprises}" var="Entrepris" itemValue="#{Entrepris.idEntreprise}" itemLabel="#{Entrepris.name}" />
		</h:selectOneMenu>
		<h:outputText value="Deadline" /> 
		       <h:inputText value="#{jobofferBean.date}"  styleClass="w3-input w3-border" > 
		       <f:convertDateTime pattern="yyyy-MM-dd"/>
				</h:inputText>
					<h:outputText value="Publication Date" /> 
		       <h:inputText value="#{jobofferBean.date1}" disabled="true" styleClass="w3-input w3-border"> 
		       <f:convertDateTime pattern="yyyy-MM-dd"/>
				</h:inputText>
				<h:outputText></h:outputText>
	       <h:commandButton id="btn" value="Update" action="#{jobofferBean.UpdateJoboffer()}"  styleClass="w3-button w3-black w3-padding-large"/> 
	       <h:message for="btn"/> 
	       </h:panelGrid> 
	       </h:form> 
	       </ui:define>
       
       </ui:composition>