<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/template/template.xhtml">
    <ui:define name="title">
        <title>Coupons List </title>
    </ui:define>
    <h:outputStylesheet library="css" name="table-style.css"  />
    <ui:define name="content">
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center"
                 style="background-image: url(${facesContext.externalContext.requestContextPath}/img/banner/home-banner.jpg)">
                <div class="overlay bg-parallax" data-stellar-ratio="0.9"
                     data-stellar-vertical-offset="0" data-background=""></div>
                <div class="container">
                    <div class="banner_content text-center">
                        <div class="page_link">
                            <a href="index.html">Home</a> <a href="about-us.html">Events</a>
                        </div>
                        <br />
                        <h2>All Coupons </h2>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        <br />
        <div class="col-lg-4"
             style="background-color: transparent; margin-left: 1050px">
            <div class="blog_right_sidebar"
                 style="background-color: transparent; border: thin">
                <aside class="single_sidebar_widget search_widget"
                       style="background-color:transparent">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search"
                               id="Search" /> <span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="lnr lnr-magnifier"></i>
						</button>
					</span>
                    </div>
                    <!-- /input-group -->
                    <div class="br"></div>
                </aside>
            </div>
        </div>

        <div align="center">
            <h2>Add your Coupons</h2>

            <div align="center" class="tab-content">
                <h:form styleClass="  form-group">
                    <div class="form-group form ">
                        Add Percontage
                        <h:inputText value="#{couponsBean.percontage}" styleClass="form-row">
                        </h:inputText>
                        <br/>
                        Add Categorie
                        <h:selectOneRadio value="AA" styleClass="radio-button">
                            <f:selectItem itemValue="Food" itemLabel="Food" />
                            <f:selectItem itemValue="Drinks"  itemLabel="Drinks"/>
                            <f:selectItem itemValue="Others" itemLabel="Others"  />
                        </h:selectOneRadio>
                        <br/>
                    </div>
                    <div class="form-group form">
                        <h3>Add Start Date </h3>
                        Add Years
                        <h:inputText value="#{couponsBean.dateYY}" styleClass="form-row">
                        </h:inputText>
                        <br/>
                        Add Month
                        <h:inputText value="#{couponsBean.dateMM}" styleClass="form-row">
                        </h:inputText>
                        <br/>
                        Add Days
                        <h:inputText value="#{couponsBean.dateJJ}" styleClass="form-row">
                        </h:inputText>
                        <br/>
                    </div>
                    <div class="form-group form">
                        <h3>Add Start Date </h3>
                        Add Years
                        <h:inputText value="#{couponsBean.dureeYY}" styleClass="form-row">
                        </h:inputText>
                        <br/>
                        Add Month
                        <h:inputText value="#{couponsBean.dureeMM}" styleClass="form-row">
                        </h:inputText>
                        <br/>
                        Add Days
                        <h:inputText value="#{couponsBean.dureeJJ}" styleClass="form-row">
                        </h:inputText>
                        <br/>
                    </div>
                    <h:commandButton action="#{couponsBean.AddCoupon}" value="Add Coupons" styleClass="form-select-button"></h:commandButton>
                </h:form>

            </div>
        </div>
        <script type="text/javascript" src="js/jquery-1.7.1.js"></script>
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />

    </ui:define>


</ui:composition>