<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/template/template.xhtml">
    <ui:define name="title">
        <title>Coupons List </title>
    </ui:define>
    <h:outputStylesheet library="css" name="table-style.css"  />
<ui:define name="content">
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center"
             style="background-image: url(${facesContext.externalContext.requestContextPath}/img/banner/home-banner.jpg)">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9"
                 data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <div class="page_link">
                        <a href="index.html">Home</a> <a href="about-us.html">Events</a>
                    </div>
                    <br />
                    <h2>All Coupons </h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <br />
    <div class="col-lg-4"
         style="background-color: transparent; margin-left: 1050px">
        <div class="blog_right_sidebar"
             style="background-color: transparent; border: thin">
            <aside class="single_sidebar_widget search_widget"
                   style="background-color:transparent">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search"
                           id="Search" /> <span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="lnr lnr-magnifier"></i>
						</button>
					</span>
                </div>
                <!-- /input-group -->
                <div class="br"></div>
            </aside>
        </div>
    </div>

    <div align="center">
        <h2>Coupons Data</h2>
        <div align="right">
            <h:form>
                <h:commandButton value="Add Coupon" styleClass="main_btn"></h:commandButton>
            </h:form>
        </div>
        <div align="center" class="tab-content">
            <h:dataTable value="${couponsBean.all}" var="coupon" styleClass="table-primary tree-table-view">
            <h:column>
                <f:facet name="header">Order</f:facet>
                ${coupon.get('idcoupon')}
            </h:column>

            <h:column>
                <f:facet id ="percontage_#{coupon.id}" name="header">percontage</f:facet>
                ${coupon.get('percontage')}
            </h:column>

            <h:column>
                <f:facet name="header">duree</f:facet>
                ${coupon.get('duree')}
            </h:column>
            <h:column>
                <f:facet name="header">Categorie</f:facet>
                Food
            </h:column>
            <h:column>
                <f:facet name="header">Date</f:facet>
                <h:outputText value="${coupon.get('date')}" >
                    <f:convertDateTime pattern="dd.MM.yyyy" />
                </h:outputText>
                ${coupon.get('date')}
            </h:column>
            <h:column>
                <f:facet name="header">State</f:facet>
                ${coupon.get('etat')}
            </h:column>
            <h:column>
                <f:facet name="header">Actions</f:facet>
                <h:form>
                <h:commandButton value="Delete"  name="delete_${coupon.get('idcoupon')}" class="main_btn" action="#{couponsBean.DeleteCoupons(coupon.get('idcoupon'))}"  />
                </h:form>

<!--                <h:button name="delete_${coupon.get('idcoupon')} " onclick="#{couponsBean.DeleteCoupons(2)}" >Delete</h:button>-->
                <h:form>

                    <h:commandButton value="Deactivate/Activate" class="main_btn" name="deactivate_${coupon.get('idcoupon')}" action="#{couponsBean.ActivateDeactivate(coupon.get('idcoupon'))}"></h:commandButton>
                </h:form>

            </h:column>

        </h:dataTable>

        </div>
    </div>
        <script type="text/javascript" src="js/jquery-1.7.1.js"></script>
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <h:outputScript target="head">
            $ = jQuery;
            // Then you can use it
            $(document).ready(function() {
               var val =   $("[percontage_]").val() ;
               var search = $("search").val() ;

            });
        </h:outputScript>
</ui:define>


</ui:composition>
