<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		<title>Events List</title>
	</ui:define>

	<ui:define name="content">
		<!--================Welcome Home Banner Area =================-->
		<!--================Welcome Home Banner Area =================-->
		<section class="banner_area">
		<div class="banner_inner d-flex align-items-center"
			style="background-image: url(${facesContext.externalContext.requestContextPath}/img/banner/home-banner.jpg)">
			<div class="overlay bg-parallax" data-stellar-ratio="0.9"
				data-stellar-vertical-offset="0" data-background=""></div>
			<div class="container">
				<div class="banner_content text-center">
					<div class="page_link">
						<a href="index.html">Home</a> <a href="about-us.html">Events</a>
					</div>
					<br />
					<h2>The events that may interests you</h2>
				</div>
			</div>
		</div>
		</section>
		<!--================End Home Banner Area =================-->
		<br />
		<div class="col-lg-4"
			style="background-color: transparent; margin-left: 1050px">
			<div class="blog_right_sidebar"
				style="background-color: transparent; border: thin">
				<aside class="single_sidebar_widget search_widget"
					style="background-color:transparent">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search"
						id="Search" /> <span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="lnr lnr-magnifier"></i>
						</button>
					</span>
				</div>
				<!-- /input-group -->
				<div class="br"></div>
				</aside>
			</div>
		</div>


		<ui:repeat value="${eventBean.all}" var="event">
			<!--================Welcome Area =================-->
			<div class="Search">
				<section class="welcome_area pad_btm">
				<div class="container">
				aaa
				</div>
				</section>
			</div>
			<!--================End Welcome Area =================-->
		</ui:repeat>

<script src="/js/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                console.log(searchText);
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();

                    }
                    else {
                        $(this).show();
                    }
                });
            });

        });
    </script>

	</ui:define>

</ui:composition>